@font-face {
  font-family: "DIN Condensed Bold";
  src: url("./fonts/din-condensed-bold.ttf") format("truetype");
}

.App {
  font-family: "DIN Condensed Bold";
  text-align: center;
  /* max-width: 640px; */
  color: white;
  min-height: 100%;
  background-image: url("./assets/background-images/forest-night.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: flex;
  flex-direction: column;
}

.singlescenario {
  position: flex-end;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 23px;
  width: 15px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 23px;
  width: 15px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 1px solid #000000;
  height: 23px;
  width: 15px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #000000;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #fffff;
}

button {
  border: 1px solid;
  margin: 4px;
}

ul {
  margin: 0;
}

h1 {
  margin: 12px 0px;
  display: inline-block;
  flex-flow: wrap;
  width: 100%;
}

.header {
  /* background-color: #000000; */
  /* border-bottom: 1px white; */
}

/* .headerbg {
  background-color: #000000;
  height: 100%;
  position: fixed;
  top: 0;
} */

.channellistlabel {
  padding: 8px 0px 0px 0px;
}

.channellist {
  /* max-height: 100%;
  height: 100%;
  overflow-y: scroll; */
}

.singlescenario {
  margin: 0px 0px 60px 0px;
}

.transportbutton {
  z-index: 2;
}

.transport {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.reactlink {
  text-decoration: none;
  color: inherit;
}
